.functional-area-container {
  margin-top: 10px;
  border: 1px solid rgb(223, 221, 221);
  padding: 15px 10px 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 200, 0.2);
}

.functional-area__list {
  padding-left: 8px;
}

.functional-area__list-item {
  margin-top: 15px;
}

.functional-area__list-item:hover {
  color: blue;
  cursor: pointer;
}

.functional-area__list-open {
  padding-left: 8px;
  margin-bottom: 3px;
}

.functional-area__list-open__item {
  display: block;
  list-style: none;
}

.functional-area__list-open__item:hover {
  color: blue;
  cursor: pointer;
}
