.search-container {
  margin-top: 10px;
  background-color: rgb(104, 104, 255);
  padding: 30px 15px;
  border-radius: 10px;
}

.search-container form {
  background-color: white;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
}

.search-container input,
.search-container .btn {
  margin-top: 5px;
}
